.header {
  background-color: #4a42d5;
  color: white;
  padding: 60px;
  font-family: Arial, sans-serif;
}
.header h2 {
  margin: 0 0 5px 0;
}
.header p {
  margin: 0;
  font-size: 0.9rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
