#root {
  width: 100%;
  min-height: 100vh;
}

/* Si necesitas mantener alguna animación específica */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}